<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="icon" href="{{ url_for('static', filename='tennis_ball.png') }}" type="image/icon"/>
        <title>Let's Play Tennis</title>
        <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='main.css') }}">
        <script>var __adobewebfontsappname__="dreamweaver"</script><script src="{{ url_for('static', filename='chewy_n4_default.js') }}" type="text/javascript"></script>
        <script type="text/javascript" href="{{ url_for('static', filename='jquery.min.js') }}"></script>
    </head>

    <body>
        <div id="wrapper">
            <header id="top">
                <h1>Ann Arbor Tennis Match Maker</h1>
            </header>
            <div id="welcomepic">
                <img src="{{url_for('static',filename='tennis.jpg')}}"/>
            </div>
            <nav id="mainnav" name="mainnav">
                <ul>
                    <li><a href="{{url_for('home')}}#mainnav" class="thispage">Home</a></li>
                    <li><a href="{{url_for('loginPage')}}#mainnav">Request</a></li>
                    <li><a href="{{url_for('courts')}}#mainnav">Tennis Courts</a></li>
                </ul>
            </nav>
            <article id="main">
                <h2>FIND A UofM TENNIS BUDDY</h2>
                <h4>Enjoy playing Tennis but cannot find a partner?</h4>
                <h4>Try our online tool to have a hitting partner at hand!</h4>
                <p>Enter the details in a form <a href="http://bit.ly/2AyBdtG">here</a> and leave the rest to us.</p>
                <p>We will automatically contact you with all possible matches.</p>

                <h4>Have a look at some options to enjoy playing Tennis in UofM <a href="{{url_for('courts')}}#mainnav">here</a>.</h4>


                <h4>Contact Us for any queries or feedback: </h4>
                <p>entr550.annarbor.tennis@gmail.com</p>
                <p></p>
           </article>

            <div id=howtouse>
                  <h3>HOW IT WORKS</h3>
                  <p>Our website takes in data of all U of M players looking for a game.
                  Based on the partner preferences and time of availability,
                  we match people and share their contact info with each other.</p>
                  <p>They can message each other directly, to fix the exact time and place to play.</p>
                  <p>Members are matched based on age, gender, and skill level and time of availability.</p>
            </div>

            <footer>
                <p>Last Updated on 26-Nov-2017</p>
            </footer>
        </div>
    </body>
</html>
