<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="icon" href="{{ url_for('static', filename='tennis_ball.png') }}" type="image/icon"/>
        <title>Sugarbush Park</title>
        <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='main.css') }}">
        <script>var __adobewebfontsappname__="dreamweaver"</script><script src="{{ url_for('static', filename='chewy_n4_default.js') }}" type="text/javascript"></script>
        <script type="text/javascript" href="{{ url_for('static', filename='jquery.min.js') }}"></script>
    </head>

    <body>
        <div id="wrapper">
            <header id="top">
                <h1>Ann Arbor Tennis Match Maker</h1>
            </header>

            <nav id="mainnav" name="mainnav">
                <ul>
                    <li><a href="{{url_for('home')}}#mainnav">HOME</a></li>
                    <li><a href="{{url_for('loginPage')}}#mainnav">REQUEST</a></li>
                    <li><a href="{{url_for('courts')}}#mainnav" class="thispage">TENNIS COURTS</a></li>
                </ul>
            </nav>

            <article id="main">
                <h2>Sugarbush Park Tennis Court Info</h2>
                <p>Address:  3266 Rumsey Dr, Ann Arbor, MI 48105, United States.</p>
                <p>Membership required: No.</p>
                <p>Two outdoor hard courts.</p>
                <p>More information: Not lighted.</p>
                <img class="tenniscourt" src="{{url_for('static',filename='sugarbush_map.png')}}"/>
                <br/>

            </article>
            <footer>
                <p>Last Updated on 4-Dec-2017</p>
            </footer>
        </div>
    </body>
</html>
